body {
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
    width: 1024px;
    margin: 0 auto;
    line-height: 1.5;
}

.background {
    background-image: url("../images/silverware.jpg");
    background-attachment: fixed;
    background-position: 20%;
}

h1, h2, h3, h4, h5, h6 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    text-decoration: underline;
    letter-spacing: 0.25em;
    width: fit-content;
}

.main-title {
    margin: 20px auto;
    font-size: 22pt;
}

.title {
    text-transform: uppercase;
}

a {
    color: #A4A400;
}

ul li {
    list-style-image: url("../images/pie_icon.gif");
}

.spec {
    margin-top: 20px;
}

blockquote {
    background-color: #FFFFA8;
}

blockquote div {
    font-style: italic;
}

blockquote .author {
    margin-top: 20px;
}

.copyright {
    font-family: monospace;
    margin: 20px 0;
}

.copyright::after {
    content: "";
    clear: both;
    display: table;
}

.copyright .inner {
    float: right;
}

.copyright .inner .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.copyright .inner .clearfix div:first-child {
    float: left;
}

.copyright .inner .clearfix div:last-child {
    float: right;
    margin-left: 15px;
}

.validator {
    text-align: right;
}

.validator a {
    text-decoration: none;
}